.projectList-inner {
  width: 88%;
  padding-top: 30px;
  padding-left: 30px;
}

.projectList-inner__listText {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 30px;
}

.projectList-inner__contents {
  width: 98%;
}

.projectList-inner__contents table {
  width: 100%;
  background-color: #fafafb;
  color: #22272c;
}

.projectList-inner__contents__strong {
  border: 1px solid #dbdbdb;
}

.projectList-inner__contents table tr:nth-child(odd) {
  background-color: #ffffff;
}

.projectList-inner__contents table td {
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
}

.projectList-inner__create {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
}

.projectList-inner__create a div {
  width: 80px;
  height: 30px;
  margin-right: 10px;
  margin-top: 6px;
  line-height: 30px;
  border-radius: 5px;
  background-color: #086ea1;
  color: white;
  text-align: center;
}
