.job-inner {
  display: flex;
  flex-direction: column;
  width: 88%;
  padding-top: 30px;
  padding-left: 30px;
}

.job-inner__listText {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 30px;
}

.job-inner__sch {
  width: 98%;
  height: 45px;
  display: flex;
  flex-direction: row;
  background-color: white;
  margin-bottom: 30px;
  line-height: 45px;
  padding-left: 20px;
  justify-content: space-between;
  border: 1px solid #dbdbdb;
}

.job-inner__left {
  display: flex;
  flex-direction: row;
}

.job-inner__sch__project {
  margin-right: 20px;
  font-weight: 600;
}

.job-inner__sch__project select {
  margin-left: 5px;
  width: 120px;
}

.job-inner__sch__state {
  font-weight: 600;
}

.job-inner__sch__state select {
  margin-left: 5px;
}

.job-inner__sch__right {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.job-inner__sch__right__chk {
  width: 80px;
  height: 30px;
  margin-right: 10px;
  margin-top: 6px;
  line-height: 30px;
  border-radius: 5px;
  background-color: #086ea1;
  color: white;
  text-align: center;
}

.job-inner__sch__right__reset {
  width: 80px;
  height: 30px;
  margin-right: 10px;
  margin-top: 6px;
  line-height: 30px;
  border-radius: 5px;
  background-color: #086ea1;
  color: white;
  text-align: center;
}

.job-inner__contents {
  width: 98%;
}

.job-inner__contents table {
  width: 100%;
  background-color: #fafafb;
  color: #22272c;
}

.job-inner__contents__strong {
  border: 1px solid #dbdbdb;
}

.job-inner__contents table tr:nth-child(odd) {
  background-color: #ffffff;
}

.job-inner__contents table td {
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
}
