.projectList_pop-inner {
  display: flex;
  flex-direction: column;
  width: 88%;
  padding-top: 30px;
  padding-left: 30px;
}

.projectList_pop-inner__makeText {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 30px;
}

.projectList_pop-inner__contents {
  width: 98%;
  height: 650px;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 30px;
  padding-left: 20px;
  border: 1px solid #dbdbdb;
}

.projectList_pop-inner__contents__project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 20px;
}

.projectList_pop-inner__contents__project__left {
  display: flex;
  flex-direction: row;
  font-weight: 600;
}

.projectList_pop-inner__contents__project select {
  margin-left: 5px;
  margin-right: 5px;
  height: 20px;
}

.projectList_pop-inner__contents__title {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 600;
}

.projectList_pop-inner__contents__title input {
  margin-left: 5px;
}

.projectList_pop-inner__contents__exp {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.projectList_pop-inner__contents__exp__box {
  margin-top: 20px;
  background-color: wheat;
  height: 180px;
  width: 98%;
}

.projectList_pop-inner__create {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
  margin-top: 20px;
}

.projectList_pop-inner__create a div {
  width: 80px;
  height: 30px;
  margin-right: 10px;
  margin-top: 6px;
  line-height: 30px;
  border-radius: 5px;
  background-color: #086ea1;
  color: white;
  text-align: center;
}
