body {
  margin: 0;
  box-sizing: border-box;
  font-family: "NanumSquare", sans-serif;
  background-color: var(--background);
}

a {
  text-decoration: none;
  color: var(--white);
}

.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  background-color: #22272c;
  border-bottom: px solid #a89292;
  color: white;
  height: 35px;
}

.wrapper {
  height: 900px;
  display: flex;
  flex-direction: row;
  background-color: #f1f1f1;
}

.sub {
  width: 12%;
  text-decoration: none;
  background-color: #31373b;
  padding-top: 30px;
}

.sub li {
  font-size: 1.2rem;
  padding-bottom: 7px;
  padding-top: 7px;
  padding-left: 10px;
  color: white;
}

.sub li:hover {
  background-color: #086ea1;
}
